Page {
    background-color: white;
    font-size: 17;
}
TextField {
    font-size: 20;
    margin: 15;
    padding: 10;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 20;
    padding: 20;
}
